# Ignore all files
# Except directories

LandscapeProducts/
LandscapeRaw/
UAVSHARE/

/data/

LandscapeScripts/drone_process.bat
LandscapeScripts/ensure_conventions.py
LandscapeScripts/get_file_paths.py
LandscapeScripts/get_file_paths.bat
LandscapeScripts/convention_checker1.bat
LandscapeScripts/metadata.py

#git ignore folder date
# Exceptions for specific files if needed
!*.md

#ignore landscapescript/drone_process.bat
*.shp
*.tif
*.shx
*.dbf
*.prj
*.pdf
*.pkl
*.pth
*.png
*.ndjson
*.cpg
*.csv
*.json
*.xml
*.shp.xml
.Rproj.user
.Rhistory
*.aux
*.log

.vscode/settings.json
